<div id="<%= dom_id wine %>">
  <p>
    <strong>Name:</strong>
    <%= wine.name %>
  </p>

  <p>
    <strong>Strains:</strong>
    <%= wine.strains.order(:name).map{ |s| "#{s.name} - (#{wine.getPercentageByStrainId(s.id)}%)"}.sort.join(' , ') %>

  </p>
</div>